#colecciones

se denominan colecciones y son estructuras que nos permiten alamcenar datos en python, existen varios tipos de colecciones

#listas

*las listas son similares a los arreglos en java, nos permite acceder a sus elementos a traves de sus indices*

#creacion y acceso

*utilizan corchetes para la creacion y acceso a sus elementos*

In [ ]:
lenguajes = ["python", "java", "javascript", "c#"]
print (lenguajes)
print (lenguajes[0])
print (lenguajes[1])
print (lenguajes[2])
lenguajes [0] = "php"
print (lenguajes)

['python', 'java', 'javascript', 'c#']
python
java
javascript
['php', 'java', 'javascript', 'c#']

In [ ]:
numeros = [3,4,5,6,7,8,9]
res = numeros[-3] + numeros[5]
print (res)

15

# otra forma alternativa de crear listas es con la funcion list

In [ ]:
mi_lista = list('1234567')
print (mi_lista)
mi_lista_enteros = [int(x) for x in mi_lista]
print (mi_lista_enteros)

['1', '2', '3', '4', '5', '6', '7']
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
mi_lista = list('1234567')
lista_final = []

for x in mi_lista:
    lista_final.append(int(x))

print (lista_final)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
ml= list( range(1,20))
print (ml)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

*una lista en python puede almacenar cualquier tipo de dato, incluso listas*

In [ ]:
mi_lista = [2, 3.5, True, "sena", ["3", "8", "a", 5]]
print (mi_lista)

[2, 3.5, True, 'sena', ['3', '8', 'a', 5]]

In [ ]:
mi_lista = [1,2,3, ['p', 'q', [5,6,7]]]
print (mi_lista)

[1, 2, 3, ['p', 'q', [5, 6, 7]]]

In [ ]:
print(mi_lista[3][2][1])
print(mi_lista[-1][-1][-2])

6
6

In [ ]:
mi_lista = list(range(1,10))
print (mi_lista)
print(mi_lista[1:4])
print(mi_lista[:2])
print(mi_lista[7:])
print(mi_lista[-5:-1])
print(mi_lista[-3:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[1, 2]
[8, 9]
[5, 6, 7, 8]
[7, 8, 9]

In [ ]:
mi_lista = [1,2,3,4,5]
mi_lista [0:3] = ["a", "b", "c"]
print (mi_lista)

['a', 'b', 'c', 4, 5]

In [ ]:
mi_lista = [1,2,3,4,5]
mi_lista = mi_lista + [6]
print (mi_lista)
mi_lista = mi_lista + [7,8,9]
print (mi_lista)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
mi_lista = [1,2,3]
x,y,z = mi_lista
print(f"valor de x: {x}")
print(f"valor de y: {y}")
print(f"valor de z: {z}")

valor de x: 1
valor de y: 2
valor de z: 3

#eliminacion e insercion

*para eliminar los elementos de una lista utilizamos una palabra reservada*

In [ ]:
lenguajes = ["python", "java", "javascript"]
del lenguajes [1]
print(lenguajes)

['python', 'javascript']

*exliquemos como insertar datos con la funcion insert y al final de la lista con apend*

In [ ]:
lenguajes = ["python", "java", "javascript"]
lenguajes.append("c#")
lenguajes.append("ruby")
lenguajes.insert(1, "c++")
print (lenguajes)

['python', 'c++', 'java', 'javascript', 'c#', 'ruby']

In [ ]:
lista = ["cosa", "casa", "ala"]
lista.sort()
print (lista)

['ala', 'casa', 'cosa']

*para saber si un elemento se encuentra dentro de una lista in*

In [ ]:
lenguajes = ["python", "java", "javascript"]
print ("python" in lenguajes)
print ("c++" in lenguajes)

True
False

#recorrido de listas

*como las listas son objetos iterables las podemos recorrer en un ciclo for*

In [ ]:
numeros = [1,2,3,4,5]
print (numeros)
for n in numeros:
    print (n)

[1, 2, 3, 4, 5]
1
2
3
4
5

*podemos recorrer la lista utilizando el metodo len*

In [ ]:
mi_lista = [4,5,6,7]
for indice in range (0, len(mi_lista)):
  print (mi_lista[indice])

4
5
6
7

*podemos acceder al indice de cada elemento a traves d ela funcion enumerate*

In [ ]:
numeros = [3,29,42,34,54]
for x,y in enumerate(numeros):
  print (f"en la posicion x {x} encontramos el numero {y}")

en la posicion x 0 encontramos el numero 3
en la posicion x 1 encontramos el numero 29
en la posicion x 2 encontramos el numero 42
en la posicion x 3 encontramos el numero 34
en la posicion x 4 encontramos el numero 54

In [ ]:
letras = ["a", "b", "c", "d", "e"]
for indice,valor in enumerate(letras):
  print(f"en la posicion x {indice} encontramos el valor {valor}")

en la posicion x 0 encontramos el valor a
en la posicion x 1 encontramos el valor b
en la posicion x 2 encontramos el valor c
en la posicion x 3 encontramos el valor d
en la posicion x 4 encontramos el valor e

In [ ]:
lista = [2,36,76,23]
ind = 0
while ind < len(lista):
  print (lista[ind])
  ind += 1

2
36
76
23

*se cuenta con dos listas y se desean recorrer de manera simultanea mostrando el valor de las dos en cada posicion*

In [ ]:
lista1 = ["ma", "me", "mi", "mo", "mu"]
lista2 = ["pa", "pe", "pi", "po", "pu"]
for i in range(min(len(lista1), len(lista2))):
    print(lista1[i] + " - " + lista2[i])

ma - pa
me - pe
mi - pi
mo - po
mu - pu

In [ ]:
lista_1 = ["ma", "me", "mi", "mo", "mu"]
lista_2 = ["pa", "pe", "pi", "po", "pu"]
lista_3 = ["pu", "pu", "pu", "pu", "Pu"]
lista_4 = ["ta", "te", "ti", "to", "tu"]
for x in zip(lista_1, lista_2, lista_3, lista_4):
    print(x)

('ma', 'pa', 'pu', 'ta')
('me', 'pe', 'pu', 'te')
('mi', 'pi', 'pu', 'ti')
('mo', 'po', 'pu', 'to')
('mu', 'pu', 'Pu', 'tu')

*con la funcion zip podemos iterar varias listas simultaneamente*

# metodos aplicables a listas

*el metodo sort () que nos permite ordenar los elementos*

In [ ]:
mi_lista = [5,10,8,3,1,52]
mi_lista.sort()
print (mi_lista)

[1, 3, 5, 8, 10, 52]

*podemos pasarle el siguiente metodo reverse=true al metodo sort para que ordene los elementos inversamente*

In [ ]:
mi_lista = [5,10,8,3,1,52]
mi_lista.sort(reverse=True)
print (mi_lista)

[52, 10, 8, 5, 3, 1]

*el metodo remove() recibe como argumento un objeto y lo borra de la lista*

In [ ]:
lenguajes = ["python", "java", "javascript"]
lenguajes.remove("java")
print (lenguajes)

['python', 'javascript']

*si utilizo del debo utilizar la posicion para remover o eliminar el elemento, si utilizo remove puedo utilizar directamente el elemento que voy a borrar*

In [ ]:
lenguajes = ["python", "java", "javascript"]
del lenguajes [1]
print(lenguajes)

['python', 'javascript']

*el metodo reverse() invierte el contenido de la lista*

In [ ]:
lenguajes = ["python", "java", "javascript"]
lenguajes.reverse()
print (lenguajes)

['javascript', 'java', 'python']

In [ ]:
cadena = "hola mundo sena"
print(cadena[::-1])

anes odnum aloh

In [ ]:
cadena = "hola mundo sena"
lista = list(cadena)
cadena = "".join(lista)
print (cadena)
print (lista)
lista.reverse()
print (lista)
cadena = "".join(lista)
print (cadena)

hola mundo sena
['h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o', ' ', 's', 'e', 'n', 'a']
['a', 'n', 'e', 's', ' ', 'o', 'd', 'n', 'u', 'm', ' ', 'a', 'l', 'o', 'h']
anes odnum aloh

# tuplas

*generalidades*

In [ ]:
mi_tupla = ("a", "b", "c", "d")
print (type(mi_tupla))
print (mi_tupla[1])
print (mi_tupla[1:3])
print (mi_tupla[:-1])

<class 'tuple'>
b
('b', 'c')
('a', 'b', 'c')

In [ ]:
mi_tupla = ("a", "b", "c", "d")
print (mi_tupla)

('a', 'b', 'c', 'd')

In [ ]:
mi_tupla = (100, 'hola', [1,2,3], -50)
print (mi_tupla[2][-1])
mi_tupla = (100, 'hola', (1,(200, 'd', ["x", "y", "z"])), (1,2,3), -50)
print (mi_tupla[2][1][2][-2])

3
y

In [ ]:
mi_tupla = (1,2,3,4,5,6,7,8,9,2,52,6,3,9,2,4,7,8,2)
print (mi_tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 52, 6, 3, 9, 2, 4, 7, 8, 2)

In [ ]:
mi_tupla = tuple("amomimama")
print (mi_tupla)

('a', 'm', 'o', 'm', 'i', 'm', 'a', 'm', 'a')

In [ ]:
mi_tupla = tuple(input("ingrese una frase:"))
print (mi_tupla)
print(f"la cantidad de elementos que tiene la tupla es: {len(mi_tupla)}")
for dato in mi_tupla:
  print (dato)

ingrese una frase:sopa
('s', 'o', 'p', 'a')
la cantidad de elementos que tiene la tupla es: 4
s
o
p
a

# paso de tupla a lista y de lista a tupla

In [ ]:
mi_lista = [1,2,3,4,5]
mi_tupla = tuple(mi_lista)
print (mi_tupla)

(1, 2, 3, 4, 5)

In [ ]:
mi_tupla = (1,2,3,4,5)
mi_lista = list(mi_tupla)
print (mi_lista)

[1, 2, 3, 4, 5]

In [ ]:
mi_tupla = (3,4,5,6,8,2)
mi_lista = list(mi_tupla)
mi_lista.sort()
mi_tupla = tuple(mi_lista)
print (mi_tupla)

(2, 3, 4, 5, 6, 8)

#APROPIACION

*1.Pregunte al usuario cuántos elementos desea ingresar en una lista, luego solicite cada uno de ellos y presente el contenido de la lista y su contenido invertido*

In [ ]:

usuario= int(input("¿Cuántos elementos deseas ingresar en la lista? "))
lista = []
for i in range(usuario):
    elemento = input(f"Ingresa el elemento {i+1}: ")
    lista.append(elemento)
print("Lista original:", lista)
print("Lista invertida:", list(reversed(lista)))

¿Cuántos elementos deseas ingresar en la lista? 3
Ingresa el elemento 1: burro
Ingresa el elemento 2: caballo
Ingresa el elemento 3: yegua
Lista original: ['burro', 'caballo', 'yegua']
Lista invertida: ['yegua', 'caballo', 'burro']

*2.Crear una lista de números y solicitar un número. Borrar de la lista ese número en todas las posiciones donde se encuentre. Presentar la lista final*

In [135]:

lista = [5,10,15,20,25,15,20]
print("Lista original:", lista)
num_eliminar = int(input("Ingresa el número que deseas eliminar de la lista: "))
while num_eliminar in lista:
    lista.remove(num_eliminar)
print("Lista final:", lista)

Lista original: [5, 10, 15, 20, 25, 15, 20]
Ingresa el número que deseas eliminar de la lista: 10
Lista final: [5, 15, 20, 25, 15, 20]

*3.Solicite al usuario dos(2) frases y devuelva una lista con todas las letras que se repiten en la misma posición de ambas listas
ejemplo: frase1: "holasena" frase2: "todogana" salida: ["o","n", "a"]*

In [137]:

frase1 = input("Ingresa la primera frase: ")
frase2 = input("Ingresa la segunda frase: ")
duplicados = [frase1[i] for i in range(min(len(frase1), len(frase2))) if frase1[i] == frase2[i]]
print("Letras repetidas en la misma posición:", duplicados if duplicados else "No hay coincidencias")

Ingresa la primera frase: camilo
Ingresa la segunda frase: camila
Letras repetidas en la misma posición: ['c', 'a', 'm', 'i', 'l']